htmlcov
.DS_Store
viikko4/verkkokauppa/src/__pycache__
viikko4/verkkokauppa/src/__pycache__
viikko4/verkkokauppa/src/tests/__pycache__
viikko3/hello-robot/src/__pycache__/CounterLibrary.cpython-312.pyc
viikko3/hello-robot/src/__pycache__/counter.cpython-312.pyc
.DS_Store
viikko6/query-language/src/__pycache__
